*{
	font-family: 'Roboto', sans-serif;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.bckgrnd{
	background-image: url("../assets/degrade-gris.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.line{
	border: 0;
	height: 6px;
	width: 130px;
	background: #fff;
}

.btn-home{
  height: 13vh;
  font-size: 16px;
  box-shadow: -5px 5px 5px 0px rgba(186,184,186,0.44);
}

.btn-tarea{
  width: 90vw;
  text-align: left;
}

.btn-albi{
	padding-left: 35px;
	padding-right: 35px;
	background-color: #ff5733;
}

a.btn-albi p{
  margin-bottom: 0;
}

button.btn-albi{
	background-color: #ff5733 !important;
}

#btn-hover{
  background-color: #ff5733 !important;
}

a.btn-albi{
	color: #fff !important;
}
a.btn-albi:hover{
	text-decoration: none !important;
}
.intro-text{
	color: #fff;
  font-size: large;
}

.tittle-task h1,h4,h2{
  color: #476680;
}

#listTask h5{
 color: #476680; 
}

.datepicker-cancel, .datepicker-done{
  color: #476680;
} 

.datepicker-date-display{
  background-color: #476680;
}

.sa-button-container
.btn-primary{
  background-color: #476680;
  border-color: #476680;
  line-height: 0.5;
}

 #cont-date-picker .modal{
  bottom:auto !important;
}

.bottom-row{
  margin-bottom: 10px;
}

/*inputs*/

  /* label color */
   .input-field label {
     color: #fff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
     color: #fff !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
   	    border-bottom: 1px solid #fff;
   	    color: white;
   }
   input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff;
    color: white;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown{
	border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
#formTask input[type=text]:not(.browser-default),  #textarea1 {
    border-bottom: 1px solid #ccc !important;
    color: #ccc !important;
}
 #formTask label{
    color: #ccc !important;
}
 #formTask > .col{
  min-height: 80vh; 
  margin: 0 1rem; 
  box-shadow: -5px 5px 5px 0px rgba(186,184,186,0.44); 
  background-color: white; 
  padding: 1rem 0.5rem;
 }

 #listTask{
  box-shadow: -5px 5px 5px 0px rgba(186,184,186,0.44); 
  background-color: #F4F4F4; 
  padding: 1rem 0.5rem;
  margin-right: 0px;
  margin-left: 0px;
 }

  #contTicket{
  box-shadow: -5px 5px 5px 0px rgba(186,184,186,0.44); 
  background-color: #E1E1E1;
 }

 .nTicket{
  color:black; 
  padding:3px; 
  background-color: #e1e1e1; 
  box-shadow: -3px 3px 3px 0px rgba(186,184,186,0.60);
 }

 .indicatorTime{
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
 }

 .criticidad{
  color: #476680; 
  font-size: 12px;
 }
 .tab a{
  background-color: #476680;
  text-decoration: none;
  color: #ccc !important;
 }
  .tabs, .tab:hover, .tab a :hover{
  background-color: #476680 !important;
  text-decoration: none;

 }
button:focus {
    outline: none;
    background-color: transparent;
    /* outline: 5px auto -webkit-focus-ring-color; */
}
.navbar-toggler {
    padding: 0;
}
